.nav li{
    color: white;
    padding: 10px;
}
.travel_mainDiv {
    border:1px solid lightgrey;
}
.travel_mainDiv img {
    width: 100%;
}
.travel_mainDiv h5 , .travel_mainDivs p {
    margin: 20px;
}
filme.head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.filme_head i {
float: right;
}
.conquistas_text span {
    color: orange;
}
.novidade {
    margin-bottom: 20px;
}
#contato iframe {
    width: 100%;
}
